.new-letter {
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 43rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-letter button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  margin-left: 2rem;
}

.new-letter button:hover,
.new-letter button:active {
  background-color: #e48100;
  border-color: #200f01;
}

.new-letter button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-letter button.alternative:hover,
.new-letter button.alternative:active {
  background-color: #f098da;
}
