.fox-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.fox-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: auto;
}
